.root {
    background-image: url(../../../../../src/assets/board.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vw / 1.71);
    position: relative;


}

.board {
    display: grid;
    grid-template-columns: auto auto auto;
    position: absolute;
    width: 50.3vw;
    height: 50.3vw;
    top: 4.3vw;
    left: 25.1vw;
}

.boardPlate {
    /*<<<<<<< Updated upstream
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px;
        cursor: pointer;
    =======*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: -50px;
    max-width: 500px;
    max-height: 500px;
    padding: 6px;
    cursor: pointer;


    /*>>>>>>> Stashed changes*/
}

.boardPlate:hover {
    background: rgba(255, 255, 255, .1);
}

.boardPlate.disabled:hover {
    background: none;
}


/*.card {
    max-height: 14.8vw;
    margin-top: -6vw;
}*/

/*.card:first-child {
    margin-top: 0;
}*/
.playerOne {
    display: flex;
    flex-direction: column;
    /* max-height: 14.8vw;*/

    /*margin: 0px 80px 20px 50px;*/
    /*display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 180px 180px 180px 180px 180px;
    margin: 20px;*/
    position: inherit;
    top: 240px;
    left: 5vw;
    height: 100%;
    max-width: 500px;
    max-height: 600px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}


.playerTwo {
    display: flex;
    flex-direction: column;
    /* max-height: 14.8vw;*/
    top: -365px;
    /*margin: 0px 80px 20px 50px;*/
    /*display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 180px 180px 180px 180px 180px;
    margin: 20px;*/
    position: inherit;

    height: 100%;
    max-width: 250px;
    max-height: 600px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    left: 80vw;




}