.flex{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 40px;
}

.buttonWrap{
    text-align: center;
    padding: 2rem;
}


.card{
    width: 100%;
    height: 370px;
    cursor: pointer;
}