.flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 25px;
  justify-items: center;
}

.buttonWrap {
  display: flex;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.buttonWrap button {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  margin: 10px auto;
  background-color: #f300b4;
  color: white;
  font-size: 24px;
  border: 0;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
}

.buttonWrap button:hover {
  background-color: #f300b4;
  padding: 12px 24px;
  margin: 8px auto;
}

.buttonWrap button:active {
  background-color: #f300b4;
  padding: 8px 18px;
  margin: 12px auto;
}

@media screen and (max-width: 1200px) {
  .flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* grid-row-gap: 20px; */
  }
}
@media screen and (max-width: 1110px) {
  .flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-row-gap: 20px; */
  }
}
@media screen and (max-width: 800px) {
  .flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-row-gap: 20px; */
  }
}
@media screen and (max-width: 620px) {
  .flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-row-gap: 20px; */
    /* justify-content: space-around; */
    align-items: center;
  }
}